@import '../../../../../../../styles/stylesVariables.scss';
@import '../../../../../../../styles/global.scss';

.contactUsContainer {
    background-color: $tertiary;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    max-height: 70%;
    padding: 30px 40px;
    position: absolute;
    
    .contactUsContent {
        align-items: center;
        display: flex;
        flex-direction: column;

        .form {
            display: flex;
            flex-direction: column;
            
            label {
                font-family: $subTitle;
            }

            textarea {
                font-family: $subTitle;
                height: 150px;
                resize: none;
            }

            .submitBtn { // consider placing in global
                align-self: center;
                background-color: $guest;
                color: $tertiary;
                margin: 30px 0 0 0;
                transition: 0.2s ease-in-out;

                &:hover {
                    background-color: $primary;
                    color: $secondary;
                }
            }
        }
    }
}

