@import '../../../../../styles/stylesVariables.scss';

.navBarList {
    background-color: $tertiary;
    display: flex;
    height: 100vh;
    left: -250px; // to hide the content
    opacity: 0;
    padding: 80px 0;
    position: fixed;
    transition: 0.3s ease-in-out; // set animation for when is visibile/!visible
    top: 80px;
    width: 250px;
    
    .navList {
        li {
            align-items: center;
            color: $secondary;
            display: flex;
            font-family: $title;
            font-size: 20px;
            padding: 21px 20px;
            width: 100%;

            &:hover {
                .icon {
                    filter: invert(32%) sepia(95%) saturate(906%) hue-rotate(232deg) brightness(100%) contrast(91%); // change the icon color into $primary   
                    transition: 0.2s ease-in-out;
                }
                .text {
                    color: $primary;
                    transition: 0.2s ease-in-out;
                }
            }

            // adds a line below the hovered navList
            &:hover::after {
                background: $primary;
                margin-top: 50px;
                content: '';
                height: 3px;
                left: 20px;
                position: absolute;
                transition: 0.2s ease-in-out;
                width: 30%;
            }

            .icon {
                filter: invert(12%) sepia(20%) saturate(1921%) hue-rotate(204deg) brightness(97%) contrast(106%); // change the icon color to $secondary
                height: 30px;
                width: 30px;
            }

            .text {
                align-items: center;
                display: flex;
                margin: 0 0 0 20px;
                padding: 5px 0 0 0;
            }
        }
        
    }
}

.navBarList.active {
    left: 0; // to show
    opacity: 1;
}