@import '../../../../../styles/stylesVariables.scss';

.dropdownMenu {
    background-color: $tertiary;
    border-radius: 15px;
    flex-direction: column;
    opacity: 0;
    overflow: visible; // Important! So that the arrow can be displayed
    padding: 30px 20px;
    position: absolute;
    right: 7px;
    top: 120px;
    transition: 0.3s ease-in-out;
    visibility: hidden;
    width: 150px;

    &::before { // the arrow located at the top right of the dropdownMenu
        background: $tertiary;
        content: "";
        height: 20px;
        position: absolute;
        right: 28px;
        transform: rotate(45deg);
        top: -6px;
        width: 20px;
    }

    .dropMenuTitle {
        margin: 0 0 10px 0;

        .title {
            font-family: $title;
            font-size: 18px;
        }
    }

    .dropMenuList {
        align-items: center;
        border-bottom: 2px solid $outOfFocus;
        border-top: 2px solid $outOfFocus;
        justify-content: center;
        padding: 10px 0;
        width: 110%;

        li:hover {
            .icon {
                filter: invert(32%) sepia(95%) saturate(906%) hue-rotate(232deg) brightness(100%) contrast(91%); // change the icon color into $primary   
                transition: 0.3s ease-in-out;
            }
            .text {
                color: $primary;
                transition: 0.3s ease-in-out;
            }
        }

        .text {
            color: $secondary;
            font-family: $subTitle;
            font-size: 14px;
            margin: 0 0 0 10px;
        }
    }

    .icon {
        height: 20px;
        width: 20px;
    }
}

.dropdownMenu.active{
    opacity: 1;
    top: 85px;
    visibility: visible;
}