@import '../../../../../styles/stylesVariables.scss';
@import '../../../../../styles/global.scss';

.dropdownMenu {
    background-color: $tertiary;
    border-radius: 15px;
    flex-direction: column;
    overflow: visible; // Important! So that the arrow can be displayed
    padding: 30px 20px;
    position: absolute;
    right: 7px;
    transform: translateY(3%);
    width: 150px;

    &::before { // the arrow located at the top right of the dropdownMenu
        background: $tertiary;
        content: "";
        height: 20px;
        position: absolute;
        right: 28px;
        transform: rotate(45deg);
        top: -6px;
        width: 20px;
    }

    .dropMenuTitle {
        margin: 0 0 10px 0;

        .txtTitle {
            font-size: 18px;
        }
    }

    .dropMenuList {
        align-items: center;
        border-bottom: 2px solid $outOfFocus;
        border-top: 2px solid $outOfFocus;
        display: flex;
        justify-content: center;
        padding: 10px 0;
        width: 110px;

        .icon {
            height: 20px;
            margin: 0 0 -5px 0;
            transition: 0.3s ease-in-out;
            width: 20px; 
        }

        .text {
            color: $secondary;
            font-family: $subTitle;
            font-size: 14px;
            margin: 0 0 0 10px;
            transition: 0.3s ease-in-out;
        }

        li:hover {
            .icon {
                filter: invert(32%) sepia(95%) saturate(906%) hue-rotate(232deg) brightness(100%) contrast(91%); // change the icon color into $primary   
            }
            .text {
                color: $primary;
            }
        }
    }
}

//CSSTransition section

.fade-enter {
    opacity: 0;
    transform: translateY(25%);
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(3%);
    transition: all 0.3s ease;
}

.fade-exit {
    opacity: 1;
    transform: translateY(3%);
}

.fade-exit-active {
    opacity: 0;
    transform: translateY(25%);
    transition: all 0.3s ease;
}