@import '../../../../../styles/stylesVariables.scss';
@import '../../../../../styles/global.scss';

.firstContainer {
    background-color: $tertiary;
    display: flex;
    flex: 1;
    flex-grow: 1.45;
    padding: 5%;
    width: 20vw;

    &.option {
        display: none;
    }

    &.option.active {
        display: inherit;
    }

    .optionContent{
        display: none;
        opacity: 0;
    }

    .optionContent.active{
        align-items: center;
        animation: fadeIn 0.4s; // fadeIn located in stylesVariables.scss
        display: inherit;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        opacity: 1;
    }

    .txtTitle { 
        margin-bottom: 0.938rem; 
    }

    .txtSubTitle { 
        font-family: $subTitle;
        margin: 0.563rem 0; 
    }

    .btnSignIn {
        background-color: $outOfFocus;
        color: $secondary;
        transition: 0.2s ease-in-out;

        &:hover {
            background-color: $primary;
            color: $tertiary;
        }
    }
    
    .btnGuest {
        background-color: $primary;
        color: $tertiary;
        transition: 0.2s ease-in-out;

        &:hover {
            background-color: $secondary;
            color: $primary;
        }
    }
}

// .fade-enter {
//     opacity: 0;
// }

// .fade-enter-active {
//     opacity: 1;
//     transition: opacity 0.4s ease;
// }

// .fade-exit {
//     opacity: 1;
// }

// .fade-exit-active {
//     opacity: 0;
//     transition: opacity 0.4s ease;
// }