/* import font styles */
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&display=swap");
/* for setting animations */
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&display=swap");
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
/* Global variables */
/* color pallete */
/* font styles */
/*
-- for 07/29/2024 --
1. create a `global.scss` housing the styles that will be used throughout the webapp
2. separate non-global styles into respective components [css modules]
3. If possible, separate global variables then import it to css modules and global scss for use

-- for 08/02/2024 --
1. add button animation 
2. add transition animation

*/
/* import font styles */
/* for setting animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
/* Global variables */
/* color pallete */
/* font styles */
/* Global styles */
* {
  /* border: 1px solid red; */ /* For checking/debugging */
  box-sizing: border-box;
  margin: 0;
  overflow: hidden; /* Disable page scroll */
}

body {
  -webkit-backdrop-filter: blur(3px) brightness(70%);
          backdrop-filter: blur(3px) brightness(70%);
  background-image: url("../assets/images/landingPageBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  border-radius: 40px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "Lalezar", system-ui;
  height: 3rem;
  width: 15rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* navigation global styles */
ul {
  padding: 0;
}

li {
  cursor: pointer;
}

/* all kind of input box global styles */
input, textarea {
  border-radius: 5px;
  border: 1.5px solid black;
  padding: 5px;
  outline: transparent;
  transition: all 0.2s ease-in-out;
}
input:focus, textarea:focus {
  border: 1.5px solid rgb(131, 83, 226);
}

/* label, title and subTitle global styles */
label, .txtTitle, .txtSubTitle {
  color: rgb(23, 21, 59);
}

.txtTitle {
  font-family: "Lalezar", system-ui;
  font-size: 2.525rem;
}

.txtSubTitle {
  font-family: "Noto Sans Lao", sans-serif;
}

/* close/return icons */
.return {
  align-items: center;
  background-color: rgb(210, 210, 210);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  transition: 0.2s ease-in-out;
  width: 50px;
}
.return img {
  height: 25px;
  filter: invert(10%) sepia(33%) saturate(3192%) hue-rotate(225deg) brightness(81%) contrast(100%);
  transition: all 0.2s ease-in-out;
  width: 25px;
}

.return:hover {
  background-color: rgb(23, 21, 59);
}
.return:hover img {
  filter: invert(30%) sepia(72%) saturate(1526%) hue-rotate(240deg) brightness(101%) contrast(90%);
}

.close {
  align-self: flex-end;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.close img {
  height: 25px;
  filter: invert(10%) sepia(33%) saturate(3192%) hue-rotate(225deg) brightness(81%) contrast(100%);
  transition: all 0.2s ease-in-out;
  width: 25px;
}

.close:hover img {
  filter: invert(30%) sepia(72%) saturate(1526%) hue-rotate(240deg) brightness(101%) contrast(90%);
}

.arrowBtn {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 50px;
  position: absolute;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.arrowBtn:hover {
  color: rgb(131, 83, 226);
  scale: 1.125;
}

.submitFeedbackContainer {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  max-height: 70%;
  padding: 20px 30px;
  position: absolute;
}
.submitFeedbackContainer .submitFeedbackContent {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.submitFeedbackContainer .submitFeedbackContent .txtSubTitle {
  text-align: center;
}
.submitFeedbackContainer .submitFeedbackContent .starContainer {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  width: 53%;
}
.submitFeedbackContainer .submitFeedbackContent .starContainer .icon.star {
  cursor: pointer;
  height: 30px;
  filter: invert(92%) sepia(8%) saturate(180%) hue-rotate(22deg) brightness(92%) contrast(88%);
  width: 30px;
}
.submitFeedbackContainer .submitFeedbackContent .starContainer .icon.star:hover,
.submitFeedbackContainer .submitFeedbackContent .starContainer .icon.star.active {
  filter: invert(82%) sepia(34%) saturate(3726%) hue-rotate(355deg) brightness(104%) contrast(100%);
}
.submitFeedbackContainer .submitFeedbackContent .form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;
}
.submitFeedbackContainer .submitFeedbackContent .form textarea {
  height: 150px;
  resize: none;
  width: 320px;
}
.submitFeedbackContainer .submitFeedbackContent .form .submitBtn {
  align-self: center;
  background-color: rgb(0, 189, 214);
  color: rgb(255, 255, 255);
  margin: 30px 0 0 0;
  transition: 0.2s ease-in-out;
}
.submitFeedbackContainer .submitFeedbackContent .form .submitBtn:hover {
  background-color: rgb(131, 83, 226);
  color: rgb(23, 21, 59);
}/*# sourceMappingURL=submitFeedbackStyles.module.css.map */