@import '../../../../../../../styles/stylesVariables.scss';
@import '../../../../../../../styles/global.scss';

.submitFeedbackContainer {
    background-color: $tertiary;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    max-height: 70%;
    padding:  20px 30px;
    position: absolute;

    .submitFeedbackContent {
        align-items: center;
        display: flex;
        flex-direction: column;

        .txtSubTitle {
            text-align: center;
        }

        .starContainer {
            display: flex;
            justify-content: space-between;
            margin: 30px 0;
            width: 53%;

            .icon.star {
                cursor: pointer;
                height: 30px;
                filter: invert(92%) sepia(8%) saturate(180%) hue-rotate(22deg) brightness(92%) contrast(88%);
                width: 30px;

            }

            .icon.star:hover,
            .icon.star.active {
                filter: invert(82%) sepia(34%) saturate(3726%) hue-rotate(355deg) brightness(104%) contrast(100%);
            }

            
        }

        .form {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin: 0 0 10px 0;

            textarea {
                height: 150px;
                resize: none;
                width: 320px;
            }

            .submitBtn { // consider placing in global
                align-self: center;
                background-color: $guest;
                color: $tertiary;
                margin: 30px 0 0 0;
                transition: 0.2s ease-in-out;

                &:hover {
                    background-color: $primary;
                    color: $secondary;
                }
            }
        }
    }
}