/*
-- for 07/29/2024 --
1. create a `global.scss` housing the styles that will be used throughout the webapp
2. separate non-global styles into respective components [css modules]
3. If possible, separate global variables then import it to css modules and global scss for use

-- for 08/02/2024 --
1. add button animation 
2. add transition animation

*/
@import './stylesVariables.scss';

/* Global styles */
* {
    /* border: 1px solid red; */ /* For checking/debugging */
    box-sizing: border-box;
    margin: 0;
    overflow: hidden; /* Disable page scroll */
}

body{
    backdrop-filter: blur(3px) brightness(70%);
    background-image: url("../assets/images/landingPageBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    border-radius: 40px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: $title;
    height: 3rem;
    width: 15rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/* navigation global styles */

ul {
    padding: 0;
}

li {
    cursor: pointer;
}

/* all kind of input box global styles */

input, textarea {
    border-radius: 5px;
    border: 1.5px solid black;
    padding: 5px;
    outline: transparent;
    transition: all 0.2s ease-in-out;

    &:focus { // works for input but not for textarea
        border: 1.5px solid $primary;
    }
}

/* label, title and subTitle global styles */

label, .txtTitle, .txtSubTitle {
    color: $secondary;
}

.txtTitle {
    font-family: $title;
    font-size: 2.525rem;
}

.txtSubTitle {
    font-family: $subTitle;
}

/* close/return icons */

.return {
    align-self: flex-start;
    align-items: center;
    background-color: $outOfFocus;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    transition: 0.2s ease-in-out;
    width: 50px;

    img {
        height: 25px;
        filter: invert(10%) sepia(33%) saturate(3192%) hue-rotate(225deg) brightness(81%) contrast(100%); 
        transition: all 0.2s ease-in-out;
        width: 25px;
    }
}

.return:hover {
    background-color: $secondary;

    img {
        filter: invert(30%) sepia(72%) saturate(1526%) hue-rotate(240deg) brightness(101%) contrast(90%);
    }
}

// modal boxes ( nav list items )

.close {
    align-self: flex-end;
    align-items: center;
    // background-color: $outOfFocus;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;

    img {
        height: 25px;
        filter: invert(10%) sepia(33%) saturate(3192%) hue-rotate(225deg) brightness(81%) contrast(100%); 
        transition: all 0.2s ease-in-out;
        width: 25px;
    }
}

.close:hover {
    img {
        filter: invert(30%) sepia(72%) saturate(1526%) hue-rotate(240deg) brightness(101%) contrast(90%);
    }
}
    
// image slider global styles

.arrowBtn {
    color: $tertiary;
    cursor: pointer;
    font-size: 50px;
    position: absolute;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    user-select: none;
}

.arrowBtn:hover{
    color: $primary;
    scale: 1.125;
}