/*
-- for 07/29/2024 --
1. create a `global.scss` housing the styles that will be used throughout the webapp
2. separate non-global styles into respective components [css modules]
3. If possible, separate global variables then import it to css modules and global scss for use

-- for 08/02/2024 --
1. add button animation 
2. add transition animation

*/
@import './stylesVariables.scss';

/* Global styles */
* {
    /* border: 1px solid red; */ /* For checking/debugging */
    box-sizing: border-box;
    margin: 0;
    overflow: hidden; /* Disable page scroll */
}

body{
    backdrop-filter: blur(3px) brightness(70%);
    background-image: url("../assets/images/landingPageBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    border-radius: 40px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: $title;
    height: 3rem;
    width: 15rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/* navigation global styles */

ul {
    padding: 0;
}

li {
    cursor: pointer;
}

/* all kind of input box global styles */

input, textarea {
    outline: transparent;
    padding: 5px;
    transition: 0.2s ease-in-out;

    &:focus { // works for input but not for textarea
        border: 1.5px solid $primary;
    }
}

/* label, title and subTitle global styles */

label, .txtTitle, .txtSubTitle {
    color: $secondary;
}

