/* import font styles */
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&display=swap');

/* for setting animations */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    100% { opacity: 1; }
    0% { opacity: 0; }
}


/* Global variables */
    /* color pallete */
    $primary: rgb(131, 83, 226); // #8353E2
    $secondary: rgb(23, 21, 59); // #17153B
    $tertiary: rgb(255, 255, 255); // #FFFFFF
    $outOfFocus: rgb(210, 210, 210); //#D2D2C9
    $guest: rgb(0, 189, 214); // #00BDD6
    // Active Star Color Hex #FFC107

    /* font styles */
    $title: "Lalezar", system-ui;
    $subTitle: "Noto Sans Lao", sans-serif;